<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ws.ios.persistencia.mapeos.UsuarioPermisoExcluidoMapper">
	<select id="getUsuarioPermisosExcluidos" parameterType="int" resultType="usuarioPermisoExcluido">
    	SELECT idUsuario,
    	       idPermiso
    	FROM UsuarioPermisoExcluido 
    	WHERE idUsuario = #{idUsuario}
    </select>
 
  	<insert id="creaUsuarioPermisoExcluido" parameterType="usuarioPermisoExcluido">
    	INSERT INTO UsuarioPermisoExcluido (idUsuario, idPermiso)
    	VALUES (#{idUsuario}, #{idPermiso})
  	</insert>
 
  	<delete id="eliminaUsuarioPermisoExcluido" parameterType="usuarioPermisoExcluido">
    	DELETE FROM UsuarioPermisoExcluido
    	WHERE idUsuario = #{idUsuario} AND idPermiso = #{idPermiso}
  	</delete>
  	
  	<delete id="eliminaUsuarioPermisosExcluidos" parameterType="int">
    	DELETE FROM UsuarioPermisoExcluido
    	WHERE idUsuario = #{idUsuario}
  	</delete>
</mapper>